# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore VS Code workspace settings
.vscode/

# Ignore folder
sql_load/temp/

# Ignore the csv_files folder
csv_files

